<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Form</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <!-- <button> <a href="http://localhost:4000/posts">Back</a> </button> -->
    <h1 id="heading">Add New Post</h1>

    <form action="/posts" method="post">
        <input placeholder="Enter Username" name="username"><br> <br>
        <textarea name="content"> </textarea><br>
        <button>Submit Post</button>
    </form>
</body>

</html>