<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is home Page</h1>
    <h3> <%= ['hello', 'abc', 'danish'][2] %> </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam ex commodi, animi, laborum voluptas quam fuga tempore incidunt velit optio? Repudiandae harum mollitia facere animi sint tempore sapiente et perspiciatis repellendus vero, ipsa enim reiciendis, modi recusandae optio quos! Consequuntur totam odio modi! Mollitia quam, consequatur cumque enim nobis possimus eveniet temporibus nulla aut quia provident nesciunt quis excepturi.</p>
    <button>Click me</button>
    <%- include('footer.ejs') %>
</body>
</html>